main {
    width: 100vw;
    height: fit-content;

}


main h1 {
    font-size: 40px;
    text-align: center;
    background: radial-gradient(circle, rgba(255, 217, 0, 0.567) 0%, rgba(54, 46, 1, 0.911) 57%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-section {
    width: 100vw;
    height: fit-content;
    position: relative;
}

.banner-section img {
    width: 100%;
    height: auto;
}

.footer {
    width: 100vw;
    height: fit-content;
    background: var(--color-logo-grival);
    position: relative;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer * {
    color: whitesmoke !important;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../public/menu-pattern.png);
    pointer-events: none;

}


.footer div:nth-child(n) {
    width: 30%;

    height: fit-content;
    padding: 1rem;
}

.footer div:nth-child(n) h3 {
    height: 50px;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 100%;
    position: relative;
    margin: 1rem 0;
}

.footer div:nth-child(n) h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 142px;
    height: 3px;
    background: whitesmoke;

}

.footer ul {
    padding-left: 0;
    list-style: none;

}

.footer ul li {
    margin-bottom: 10px;
}

.footer-end-brand {
    background: var(--color-logo-grival);
    display: flex;
}

.footer-end-brand p {
    color: white;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;

}

@media (max-width:868px) {

    .footer div:nth-child(n) {
        width: 100% !important;
    }
}



/* section combo */
.combo-heading {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.combo-heading h2 {
    color: var(--color-logo-grival);
    font-size: 36px;
    
}

.combo-type-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.combo-type-item-3 {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;
}
.combo-type-item-3 > .combo-detail1,
.combo-type-item-3 > .combo-detail2,
.combo-type-item-3 > .combo-imgchung {
    width:30%;
}
.combo-detail1 {
    padding-left: 1rem;

}
.combo-detail2 {
    padding-right: 1rem;

}
.combo-detail1 h3,
.combo-detail2 h3 {
    position: relative;
    color: var(--color-red-bold);
    font-size: 36px;
    letter-spacing: 2px;
}
.combo-detail1  > h3::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background: darkred;
    top: 50%;
    left: 0;
    transform: translateX(-42%);
}
.combo-detail2 > h3::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background: darkred;
    top: 50%;
    transform: translateX(20%);
}
.combo-detail1 > h3 {
    margin-top: 100%;
    text-align: right;
}
.combo-detail1 p {
    text-align: right;
}
.combo-detail1 span {
    display: block;
    text-align: right;
}
.combo-detail1 .btn-gr-oncombo {
    justify-content: flex-end;
}
.combo-detail2 .btn-gr-oncombo {
    justify-content: flex-star;
}
.combo-detail2 h3 {
    margin-top: 20%;
    
}
.combo-detail1 p,
.combo-detail2 p {

    font-family: 'MontserratLight';
    font-size: 18px;
   
    margin: 16px 0;

}
.combo-detail1 span,
.combo-detail2 span {
    font-weight: bold;
}
.combo-type-item-3 > .combo-imgchung img {
    width:100%;
    height:auto;
}
.combo-type-item > div:nth-child(n) {
    width: 50%;
}

.combo-img {
    overflow: hidden;
}

.combo-img img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;

    padding: 64px;

}
.btn-gr-oncombo {
    display: flex;
    margin: 1rem 0;
    gap: 1rem;
}
.btn-gr-oncombo button {
    padding: 10px 20px;
    border: 1px solid var(--color-logo-grival);
    border-radius: 5px;
    background: transparent;
    color: var(--color-logo-grival);
   
}
.combo-type-item:nth-child(n) .combo-detail::after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
   
    background: url('../public/partent/hoa.svg');
    background-repeat: no-repeat;
}
.combo-detail {
    padding:100px 50px;
    position: relative;
}
.combo-type-item:nth-child(2) > .combo-detail::after {
    width: 70%;
    height: 70%;
    transform: translate(-17%,20%) rotate(9deg) scaleX(-1.0);
    opacity: 0.5;
}
.combo-detail h3{
    color: var(--color-red-bold);
    font-size: 36px;
    letter-spacing: 2px;
}
.combo-detail p {

    font-family: 'MontserratLight';

    font-size: 20px;
    font-weight: bold;
    margin: 16px 0;
}
.combo-detail span {
    font-weight: bold;
}
/* price section */
.price-detail {
    
}
.price-detail img {
    width: 100%;
    height: auto;
}



/* view price */
.view-price {
    width: 100%;
    position: relative;
    height: fit-content;
}
.view-display {
    width: 100%;
    height: 50vh;
}
.view-display img {
    width: auto;
    height: 100%;
}


/* gallery */
.gallery {
    width: 100%;
    height: fit-content;
}
.gallery .row {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: row;
}
.gallery .row  img {
    width: 30%;
}